body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .menu-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  #cart {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
  }
  
  #cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  #cart li {
    margin-bottom: 10px;
  }
  
  #total-price {
    font-weight: bold;
  }
  